*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 62.5%;
    height: 100vh;
    background-image: url('../img/bg-img.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;

    .header {
        &__city {
            left: 45%;
            position: absolute;
            top: .5em;
            text-transform: uppercase;
            letter-spacing: .5rem;
        }

        &__city__input {
            left: 45%;
            position: absolute;
            top: 3em;
            text-align: center;
            font-size: 2rem;
            padding-top: 10px;
            margin-top: 10px;
            background: none;
            border: none;
            border-bottom: 2px solid #ddd;
        }

        &__city__input:focus {
            outline: none;
        }

        .weather {
            &__icon {
                left: 45%;
                position: absolute;
                top: 7em;
                width: 185px;
            }

            &__info {
                left: 45%;
                position: absolute;
                width: 100px;
                top: 8.3em;

                &__conditions {
                    font-size: 1.3em;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.63);
                }

                &__temperature {
                    top: 5em;
                    font-size: 2.6em;
                }
            }
        }

    }

    .details {
        position: absolute;
        top: 55vh;
        width: 300px;
        left: 5em;

        &__title {
            text-transform: uppercase;
            letter-spacing: .2em;
            margin: 20px;
            width: 60%;
            text-align: center;
            border: 10px solid white;
            padding: 10px;
        }

        .details__info {
            font-size: 2rem;
            margin: 20px;

            span {
                font-weight: 650;
            }
        }
    }

    .sun {
        position: relative;
        font-size: 2rem;
        top: 69vh;
        width: 300px;
        left: -8%;

        span {
            font-weight: 650;
        }

        &__cykle {
            width: 600px;
            height: 300px;
            position: absolute;
            top: -5em;
            left: 11em;
        }
    }
}

//MEDIA-QUERIES

@media(min-width: 576px) {
    .header {
        &__city {
            left: 30px;
        }
    }

    .details {
        flex-direction: row;
        justify-content: space-between;
    }
}