*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-image: url('../img/bg-img.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #fff;

    .wrapper {
        .city-info {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                position: absolute;
                top: .5em;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: .5rem;
            }

            .city-name--input {
                position: absolute;
                top: 3em;
                text-align: center;
                font-size: 2rem;
                padding: 5px 10px;
                margin-top: 10px;
                background: none;
                border: none;
                border-bottom: 2px solid #ddd;
            }

            .city-name--input:focus {
                outline: none;
            }
        }


        .weather-main {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .weather-icon {
                position: absolute;
                top: 10em;
                width: 185px;
            }

            .weather-info {
                position: absolute;
                top: 14em;
                font-size: 1.5em;

                .weather {
                    margin-left: 1em;
                    color: rgba(255, 255, 255, 0.63);
                }

                .temperature {
                    font-size: 2em;
                }
            }
        }

        .details {
            position: absolute;
            top: 55vh;
            width: 300px;
            left: 5em;

            .details-text {
                text-transform: uppercase;
                letter-spacing: .2em;
                margin: 20px;
                width: 50%;
                text-align: center;
                border: 10px solid white;
                padding: 10px;
            }

            .details-info {
                font-size: 2rem;
                margin: 20px;

                span {
                    font-weight: 650;
                }
            }
        }
    }
}

//MEDIA-QUERIES

@media(min-width: 768px) {
    .wrapper {
        .weather-icon {
            width: 15px;
        }
    }
}